## Deliverable 2. Create a Customer Travel Destinations Map.

In [64]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import sys
sys.path.append("..")

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
0,Waitati,-45.75,170.57,46.99,67,89,17.00,NZ,2020-10-17 00:18:34,overcast clouds
1,Faanui,-16.48,-151.75,79.36,78,38,11.39,PF,2020-10-17 00:18:34,light rain
2,Severnoye,56.35,78.36,44.35,73,84,11.86,RU,2020-10-17 00:18:34,broken clouds
3,Yining,29.04,114.56,57.72,90,100,2.71,CN,2020-10-17 00:14:12,light rain
4,Ilulissat,69.22,-51.10,48.20,57,100,14.99,GL,2020-10-17 00:16:05,light rain

In [7]:
city_data_df["Max Temp"]=city_data_df["Max Temp"].astype("float64")

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
mintemp=input("enter min temp")
maxtemp=input("enter max temp")

enter min temp75
enter max temp90

In [10]:
mintemp=float(mintemp)
type(mintemp)

float

In [11]:
maxtemp=float(maxtemp)
type(maxtemp)

float

In [12]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
vacation_data_df=city_data_df.loc[(city_data_df["Max Temp"] > mintemp) & (city_data_df["Max Temp"] < maxtemp)]
vacation_data_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
1,Faanui,-16.48,-151.75,79.36,78,38,11.39,PF,2020-10-17 00:18:34,light rain
6,Kavaratti,10.57,72.64,81.37,76,27,16.49,IN,2020-10-17 00:18:35,light rain
7,Dawei,14.08,98.20,75.79,92,100,2.82,MM,2020-10-17 00:18:35,light rain
20,Gamba,-2.65,10.00,75.61,86,76,6.49,GA,2020-10-17 00:14:06,broken clouds
30,Thinadhoo,0.53,72.93,82.69,77,61,19.39,MV,2020-10-17 00:18:38,light rain
...,...,...,...,...,...,...,...,...,...,...
674,Manaure,11.78,-72.44,84.97,72,1,12.82,CO,2020-10-17 00:20:03,clear sky
680,Kalmunai,7.42,81.82,75.72,78,55,3.87,LK,2020-10-17 00:20:04,broken clouds
683,Nouakchott,18.09,-15.98,86.00,51,66,10.29,MR,2020-10-17 00:17:24,broken clouds
684,Villa Del Rosario,7.83,-72.47,87.80,52,40,9.17,CO,2020-10-17 00:20:05,scattered clouds
692,Kanniyakumari,8.08,77.57,78.53,81,0,17.72,IN,2020-10-17 00:19:20,clear sky

In [16]:
# 4a. Determine if there are any empty rows.
vacation_data_df.count()

City           218
Lat            218
Lng            218
Max Temp       218
Humidity       218
Cloudiness     218
Wind Speed     218
Country        218
Date           218
Description    218
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
vacation_data_df.dropna()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
1,Faanui,-16.48,-151.75,79.36,78,38,11.39,PF,2020-10-17 00:18:34,light rain
6,Kavaratti,10.57,72.64,81.37,76,27,16.49,IN,2020-10-17 00:18:35,light rain
7,Dawei,14.08,98.20,75.79,92,100,2.82,MM,2020-10-17 00:18:35,light rain
20,Gamba,-2.65,10.00,75.61,86,76,6.49,GA,2020-10-17 00:14:06,broken clouds
30,Thinadhoo,0.53,72.93,82.69,77,61,19.39,MV,2020-10-17 00:18:38,light rain
...,...,...,...,...,...,...,...,...,...,...
674,Manaure,11.78,-72.44,84.97,72,1,12.82,CO,2020-10-17 00:20:03,clear sky
680,Kalmunai,7.42,81.82,75.72,78,55,3.87,LK,2020-10-17 00:20:04,broken clouds
683,Nouakchott,18.09,-15.98,86.00,51,66,10.29,MR,2020-10-17 00:17:24,broken clouds
684,Villa Del Rosario,7.83,-72.47,87.80,52,40,9.17,CO,2020-10-17 00:20:05,scattered clouds
692,Kanniyakumari,8.08,77.57,78.53,81,0,17.72,IN,2020-10-17 00:19:20,clear sky

In [27]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = vacation_data_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp       Description    Lat     Lng Hotel Name
1      Faanui      PF     79.36        light rain -16.48 -151.75
6   Kavaratti      IN     81.37        light rain  10.57   72.64
7       Dawei      MM     75.79        light rain  14.08   98.20
20      Gamba      GA     75.61     broken clouds  -2.65   10.00
30  Thinadhoo      MV     82.69        light rain   0.53   72.93
31      Alofi      NU     78.80        light rain -19.06 -169.92
37   Cabedelo      BR     77.00        few clouds  -6.98  -34.83
44      Buala      SB     84.43        light rain  -8.14  159.59
46    Bikaner      IN     77.90         clear sky  28.02   73.30
52   Abu Road      IN     80.31  scattered clouds  24.48   72.78

In [28]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    Lat = row["Lat"]
    Lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{Lat},{Lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try: hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [60]:
hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Faanui,PF,79.36,light rain,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
6,Kavaratti,IN,81.37,light rain,10.57,72.64,Hotels in Lakshadweep Islands
7,Dawei,MM,75.79,light rain,14.08,98.20,Hotel Dawei
20,Gamba,GA,75.61,broken clouds,-2.65,10.00,
30,Thinadhoo,MV,82.69,light rain,0.53,72.93,
...,...,...,...,...,...,...,...
674,Manaure,CO,84.97,clear sky,11.78,-72.44,Del mar vendra
680,Kalmunai,LK,75.72,broken clouds,7.42,81.82,VS Villa
683,Nouakchott,MR,86.00,broken clouds,18.09,-15.98,Hôtel Iman
684,Villa Del Rosario,CO,87.80,scattered clouds,7.83,-72.47,Hotel Villas de San Diego
692,Kanniyakumari,IN,78.53,clear sky,8.08,77.57,Sparsa

In [94]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!=""]
clean_hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Faanui,PF,79.36,light rain,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
6,Kavaratti,IN,81.37,light rain,10.57,72.64,Hotels in Lakshadweep Islands
7,Dawei,MM,75.79,light rain,14.08,98.20,Hotel Dawei
31,Alofi,NU,78.80,light rain,-19.06,-169.92,Taloa Heights
37,Cabedelo,BR,77.00,few clouds,-6.98,-34.83,Lua Mansa Pousada
...,...,...,...,...,...,...,...
674,Manaure,CO,84.97,clear sky,11.78,-72.44,Del mar vendra
680,Kalmunai,LK,75.72,broken clouds,7.42,81.82,VS Villa
683,Nouakchott,MR,86.00,broken clouds,18.09,-15.98,Hôtel Iman
684,Villa Del Rosario,CO,87.80,scattered clouds,7.83,-72.47,Hotel Villas de San Diego
692,Kanniyakumari,IN,78.53,clear sky,8.08,77.57,Sparsa

In [97]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [96]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Maximum Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [90]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))