## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

ImportError: cannot import name 'g_key' from 'config' (C:\Users\i811925\Class\World_Weather_Analysis\config.py)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2020-10-15 05:27:12,42.60,-73.97,50.00,64,72,3.36
1,1,Dikson,RU,2020-10-15 05:27:12,73.51,80.55,29.25,92,97,21.12
2,2,Souillac,MU,2020-10-15 05:27:13,-20.52,57.52,78.80,65,40,10.29
3,3,Aklavik,CA,2020-10-15 05:27:13,68.22,-135.01,17.60,78,90,3.36
4,4,New Norfolk,AU,2020-10-15 05:27:13,-42.78,147.06,57.99,71,88,1.99

In [11]:
city_data_df["Max Temp"]=city_data_df["Max Temp"].astype("float64")

In [12]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
mintemp=input("enter min temp")
maxtemp=input("enter max temp")

enter min temp50
enter max temp70

In [18]:
test=7 
test2=str(test)
type(test2)

str

In [23]:
mintemp=float(mintemp)
type(mintemp)

float

In [24]:
maxtemp=float(maxtemp)
type(maxtemp)

float

In [25]:
print(city_data_df["Max Temp"].dtype)

float64

In [26]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
inputcity_data_df=city_data_df.loc[(city_data_df["Max Temp"] > mintemp) & (city_data_df["Max Temp"] < maxtemp)]
inputcity_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,New Norfolk,AU,2020-10-15 05:27:13,-42.78,147.06,57.99,71,88,1.99
6,6,Cape Town,ZA,2020-10-15 05:22:30,-33.93,18.42,59.00,93,75,16.11
19,19,Esperance,AU,2020-10-15 05:27:19,-33.87,121.90,62.60,82,90,16.11
21,21,Ahipara,NZ,2020-10-15 05:27:20,-35.17,173.17,58.69,65,2,10.27
23,23,Fiumicino,IT,2020-10-15 05:27:20,41.77,12.23,60.80,87,40,11.41
...,...,...,...,...,...,...,...,...,...,...
547,547,Obera,AR,2020-10-15 05:30:01,-27.49,-55.12,60.78,85,98,3.67
548,548,Swellendam,ZA,2020-10-15 05:30:02,-34.02,20.44,53.60,93,15,4.70
549,549,Hernani,ES,2020-10-15 05:30:03,43.27,-1.98,51.01,93,40,6.93
550,550,Ashland,US,2020-10-15 05:29:40,40.82,-82.27,62.60,51,1,19.46
555,555,Rio Grande,BR,2020-10-15 05:30:06,-32.03,-52.10,56.53,90,93,5.64

In [5]:
# 4a. Determine if there are any empty rows.

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure