## Deliverable 3. Create a Travel Itinerary Map.

In [139]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy

#Import jupyter folder issue
import sys
sys.path.append("..")

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [140]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.tail(20)

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
198,635,Padang,ID,78.69,light rain,-0.95,100.35,Mercure Padang
199,638,Kandrian,PG,82.38,light rain,-6.22,149.55,Kandrian Station
200,644,Santa Cruz De Yojoa,HN,80.60,broken clouds,14.98,-87.90,Hotel El Encanto
201,646,Pozo Colorado,PY,81.01,overcast clouds,-23.49,-58.80,Hospedaje la Amistad
202,647,Kailua,US,84.20,overcast clouds,21.40,-157.74,Sheffield House Bed & Breakfast
203,648,Vettavalam,IN,76.42,broken clouds,12.10,79.25,"ADW Boys Hostel, Vettavalam"
204,656,Sao Jose Do Belmonte,BR,80.20,clear sky,-7.86,-38.76,Pousada Pedra do Reino
205,658,Kimbe,PG,87.44,light rain,-5.55,150.14,Kimbe Bay Hotel
206,663,Lethem,GY,84.42,scattered clouds,3.38,-59.80,Savannah Inn
207,664,Niamey,NE,86.00,clear sky,13.51,2.11,Soluxe Hotel Niamey
208,665,Manta,EC,77.00,overcast clouds,-0.95,-80.73,Balandra Hotel
209,666,Qui Nhon,VN,77.18,moderate rain,13.77,109.23,Khách sạn Hải Âu Quy Nhơn - Seagull Hotel
210,670,Mae Ramat,TH,75.20,broken clouds,16.98,98.52,ก้านพลู ไอศครีมกะทิสด
211,671,Palmas Bellas,PA,82.40,scattered clouds,9.23,-80.09,Estación de Chagres
212,672,Manokwari,ID,82.09,light rain,-0.87,134.08,Swiss Belhotel Manokwari
213,674,Manaure,CO,84.97,clear sky,11.78,-72.44,Del mar vendra
214,680,Kalmunai,LK,75.72,broken clouds,7.42,81.82,VS Villa
215,683,Nouakchott,MR,86.00,broken clouds,18.09,-15.98,Hôtel Iman
216,684,Villa Del Rosario,CO,87.80,scattered clouds,7.83,-72.47,Hotel Villas de San Diego
217,692,Kanniyakumari,IN,78.53,clear sky,8.08,77.57,Sparsa

In [23]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [25]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [118]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=='El Rosario']
vacation_end = vacation_df.loc[vacation_df["City"]=='El Rosario']
vacation_stop1 = vacation_df.loc[vacation_df["City"]=='Matamoros']
vacation_stop2 = vacation_df.loc[vacation_df["City"]=='Pochutla'] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=='Tecalitlan']

In [119]:
# 6. Get the latitude-longitude pairs as tuples fryom each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [120]:
start

(24.26, -107.18)

In [121]:
end

(24.26, -107.18)

In [122]:
stop1

(25.53, -103.25)

In [123]:
stop2

(15.74, -96.47)

In [124]:
stop3

(19.47, -103.3)

In [125]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()

# Latitude-longitude pairs
mexico_iternary = gmaps.directions_layer(
    start, end, waypoints=[stop1, stop2, stop3], 
    travel_mode = "DRIVING")

fig.add_layer(mexico_iternary)

fig

Figure(layout=FigureLayout(height='420px'))

In [130]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,529,El Rosario,MX,88.00,clear sky,24.26,-107.18,Mi casa
1,443,Matamoros,MX,86.00,clear sky,25.53,-103.25,Recreativo Sabdy Briseidy
2,596,Pochutla,MX,82.99,clear sky,15.74,-96.47,Hotel Posada San Jose
3,257,Tecalitlan,MX,80.60,broken clouds,19.47,-103.30,Hotel Plaza Victoria
4,529,El Rosario,MX,88.00,clear sky,24.26,-107.18,Mi casa

In [135]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{City}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [136]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))